.date{
    text-align: right;
    font-style: italic;
}

.text {
    font-size: 1.1em;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

.highlightText{
    font-size: 1.1em;
    text-align: center;
    background-color: #E6E6FA;
    padding: 5;
    border-radius: 5;
    font-family: Arial, Helvetica, sans-serif;
}
